@import './filechooser';

.FileListItem {
  border: 1px solid $border-color;
  border-radius: 0.25rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .label-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 25rem;

    img {
      width: 25px;
      margin-right: 0.2rem;
    }

    p {
      margin: 0;
      overflow-wrap: break-word;
      word-wrap: break-word;
      width: inherit;
    }
  }

  .btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
