
.VideoListItem {
  &.active, &.active li {
    background-color: lightblue;
  }
  .heading {
    font-weight: bold;
  }
  .label {
    font-weight: bold;
    display: block;
  }

  .push-text {
    margin-left: 1rem;
  }
}
