@import '../../../assets/styles/pages';

.Settings {
  .title {
    @include page-title;
  }

  .form {
    margin-top: 1rem;

    .rootDir {
      width: 20rem;
    }

    .fileChooser {
      margin: 1rem;
    }
  }
}
