.ToolTip {
  position: relative;
  display: inline-block;

  .ToolTipText {
    visibility: hidden;
    background-color: #6e6e6e;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 0.25rem;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
  }

  &:hover {
    .ToolTipText {
      visibility: visible;
    }
  }
}