.ToolTip {
  position: relative;
  display: inline-block;

  .ToolTipText {
    visibility: hidden;
    background-color: rgba(164, 164, 164, 0.9);
    color: black;
    text-align: center;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    position: absolute;
    z-index: 1;
    left: 1rem;
    top: 0.5rem;
  }

  &:hover {
    .ToolTipText {
      visibility: visible;
    }
  }
}