
.ManageVideoFilters {
  margin-top: 20px;
  height: 70%;
  .title {
    border-bottom: 1px solid lightgray;
  }
  .scroll {
    overflow: scroll;
    height: 50vh;
    padding: 0;
    margin: 5px;
    border: 1px solid lightgray;
  }
}