@import '../../../assets/styles/pages';

.ManageVideoFilters {
  height: 70%;
  .title {
    @include page-title;
  }
  .scroll {
    overflow: scroll;
    height: 50vh;
    padding: 0;
    margin: 5px;
    border: 1px solid lightgray;
  }
}